// To get the PDF to print out correctly:
// A4, 110% percent, normal margins.

html, body {
  background: $body-background;
  color: $body-color;
}

body {
  margin: 0;
  padding: 30px;
  font-size: 15px;

  @media print {
    margin: 0;
    padding: 0;
  }

  @media all and (max-width: $tablet) {
    margin: 0;
    padding: 0;
  }
}

div.content {
  margin: 20px auto;
  max-width: 650px;

  border-radius: 20px;
  border: 1px solid darken($content-background, 1%);
  background: $content-background;
  padding: 30px;
  color: $content-color;
  font-weight: 400;
  line-height: 140%;

  @media print {
    padding: 0;
    margin: 0;
  }

  @media all and (max-width: $tablet) {
    padding: 20px 25px;
    margin: 0;
  }

  h1 {
    margin-top: 0;
    font-weight: 700;
    font-size: 200%;
    line-height: 140%;
  }

  h2 {
    font-weight: 600;
  }

  b, strong {
    font-weight: 600;
  }
}

.copyright {
  width: 50%;
  margin: 30px auto 0 auto;
  text-align: center;
  font-size: 85%;
  color: darken($content-color, 20%);

  a {
    font-weight: normal;
  }

  .terms {
    margin-top: 10px;
  }
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover;
    text-decoration: underline;
  }
}

.columns3 {
  width: 100%;

  .column {
    width: 33%;
    float: left;
    margin-bottom: 20px;
  }
}

.columns2 {
  width: 100%;

  .column {
    width: 50%;
    float: left;
    margin-bottom: 20px;
  }
}

.columns2, .columns3 {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
