// To get the PDF to print out correctly:
// A4, 110% percent, normal margins.

html, body {
  background: $body-background;
  color: $body-color;

  @media print {
    background: $content-background;
  }
}

html {
  margin: 0;
  padding: 0;

  @media print {
    margin: ($padding * 2) ($padding * 5);

    .page-break-after + * {
      margin-top: ($padding * 5);
    }
  }
}

body {
  margin: 0;
  padding: ($padding * 4);
  font-size: 15px;

  @media print {
    margin: 0;
    padding: 0;
  }

  @media all and (max-width: $tablet) {
    margin: 0;
    padding: 0;
  }
}

div.content {
  margin: ($padding * 2) auto;
  max-width: 650px;

  border-radius: 20px;
  border: 1px solid darken($content-background, 1%);
  background: $content-background;
  padding: 30px;
  color: $content-color;
  font-weight: 400;
  line-height: 140%;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.075);

  @media print {
    padding: 0;
    margin: 0;
    max-width: initial;
    box-shadow: none;
    border-radius: 0;
    background: transparent;
    border: 0;
  }

  @media all and (max-width: $tablet) {
    padding: ($padding * 2) ($padding * 2.5);
    margin: 0;
  }

  h1 {
    margin-top: 0;
    font-weight: 700;
    font-size: 200%;
    line-height: 140%;
  }

  h2 {
    font-weight: 600;
  }

  b, strong {
    font-weight: 600;
  }
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover, &:focus {
    color: $link-hover;
    text-decoration: underline;
  }
}

.columns3 {
  width: calc(100% - (($padding * 2) * 3));

  > .column {
    width: 33%;
    float: left;
    margin-bottom: ($padding * 2);
  }
}

.columns2 {
  width: calc(100% - (($padding * 2) * 2));

  > .column {
    width: 50%;
    float: left;
    margin-bottom: ($padding * 2);
  }
}

.columns2-1 {
  width: calc(100% - (($padding * 2) * 2));

  > .column, > .column2 {
    float: left;
    margin-bottom: ($padding * 2);
  }

  > .column { width: 33%; }
  > .column2 { width: 67%; }
}

.columns2, .columns3, .columns2-1 {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
