$pt-sans: 'PT Sans', 'Trebuchet MS', sans-serif;

$content-background: #fff;
$content-color: #000;
$body-background: #eee;
$body-color: #111;
$link-color: $content-color;
$link-hover: #939;

$term-width: 16.5%;
$term-width-mobile: 20%;

// screen widths
$mobile: 480px;
$tablet: 768px;
