span.menu-icon {
  background: url('/assets/images/hamburger.svg') 50% 50% no-repeat;
  background-size: 18px;
}

header.site-header {
  @include slightly-gradient-background($brand-color, $text-color);

  @media screen and (max-width: $tablet) {
    min-height: $spacing-unit * 2;
  }

  > .wrapper {
    margin-top: $spacing-unit * 0.95;
    margin-bottom: $spacing-unit;

    @media screen and (max-width: $tablet) {
      margin-top: $spacing-unit * 0.3 * 0.95;
      margin-bottom: $spacing-unit * 0.3;
    }

    @media screen and (max-width: $mobile) {
      margin-top: $spacing-unit * 0.0 * 0.95;
      margin-bottom: $spacing-unit * 0.1;
    }
  }

  .site-title {
    color: $background;
  }

  nav.site-nav {
    .trigger {
      padding-top: 4px;

      @media screen and (max-width: $mobile) {
        padding-top: initial;
      }

      .page-link {
        color: $background;

        &:not(:last-child) {
          margin-right: 0; // wtf minima
        }

        @media screen and (max-width: $mobile) {
          color: $text-color;
        }
      }

      .dash {
        color: transparentize($background, 0.5);

        @media screen and (max-width: $mobile) {
          display: none;
        }
      }
    }

    @media screen and (max-width: $mobile) {
      top: ($spacing-unit * 0.15) + 7.5px;

      background: $background;
      color: $text-color;
    }
  }

  a {
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
