body {
  &.page-index {
    $profile-picture-size: 75%;

    img.profile-picture {
      display: block;
      max-width: $profile-picture-size;
      border-radius: 50%;
      margin: $spacing-unit auto;
      box-shadow: 1px 1px 4px rgba(0,0,0,0.1);

      @media screen and (max-width: $mobile) {
        margin: 0 auto;
        max-width: 50%;
      }

      transition: all 0.2s;

      &:hover {
        transform: scale(1.05) rotate(1deg);
        box-shadow: 4px 8px 12px rgba(0,0,0,0.3);
      }
    }

    main.page-content nav.actions {
      float: initial;
      width: 100%;
      text-align: right;
    }
  }
}
